h1 {
    color: orangered;
}
h2 {
    color: blue;
}
.name
{
    background-color: aquamarine;
}
.edu
{
    background-color: blanchedalmond;
}
.skill
{
    background-color: grey;
}
.hob
{
    background-color: aliceblue;
}
.con
{
    background-color: rgb(136, 117, 95);
}