* {
    font-family: 'Courier New';
}
* {
    font-family: 'Courier New';
}
#login {
    background-color: azure;
}
#signup {
    background-color: #b92b27;
    color: white;
}
.upvote {
    background-color: green;
    color: aliceblue;
}